.slick-prev {
  left: -2% !important;
  z-index: 1;
}
.slick-next {
  right: -2% !important;
  z-index: 1;
}
.slick-slide{
  width: 400px !important;
  display: inline-block !important;
  text-align: center ;
}
.slick-slider .slick-list {
  transform: translate3d(-15px, 1, 0) !important;
  padding: 0 245px !important;
}
/* .slick-track{
  transform: none !important;
} */

@media screen and (min-width: 480px) {
  .slick-slider .slick-list {
    padding: 0 0 !important;
  }
  .slick-track{
    transform: translate3d(-95px, 0px, 0px);
  }
}
